html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom, transparent, gray),
    url(imgs/bg.png);
  background-size: 100px;
  animation-name: moveBG;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moveBG {
  from {
    background-position: 0;
  }
  to {
    background-position: 100px;
  }
}

header {
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 123, 0),
    rgba(255, 123, 0, 0.671),
    transparent
  );
  border-bottom: 1px solid rgb(158, 158, 158);
  .LOGO {
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    border: 5px outset black;
  }
}
