html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.466),
      rgba(184, 184, 184, 0.8),
      gray
    ),
    url(imgs/bg.png);
  background-attachment: fixed;
  background-size: 80px;
  --orange: rgb(255, 102, 0);
  --transOrange: rgba(255, 102, 0, 0.65);
  scroll-behavior: smooth;
  animation-name: moveBG;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  header {
    position: fixed;
    top: 0;
    width: 100%;
    --HEADERHEIGHT: 150px;
    height: var(--HEADERHEIGHT);
    background-color: transparent;
    border-bottom: 1px solid rgb(75, 75, 75);
    backdrop-filter: blur(3px);
    z-index: 20;
    .LOGO {
      cursor: pointer;
      width: 230px;
      user-select: none;
      aspect-ratio: 1/1;
      border-radius: 100%;
      position: absolute;
      top: var(--HEADERHEIGHT);
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 21;
      box-shadow: 0px 0px 20px rgb(80, 32, 0);
      transition: 0.5s;

      background-image: linear-gradient(rgb(179, 179, 179), rgb(255, 182, 123));
    }
    .LOGO:hover {
      transition: 0.5s;
      box-shadow: 0px 0px 30px rgb(80, 32, 0);
    }
    .rondel {
      width: 250px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      border: 10px outset black;
      box-shadow: 0px 0px 5px var(--orange), 0px 0px 5px black;
      animation-name: logo;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 3s;
    }
    .links {
      position: absolute;
      z-index: 4;
      display: flex;
      width: 100%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 30px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: "Chango", sans-serif;
      color: rgba(0, 0, 0, 0.725);
      text-shadow: 1px 1px rgb(59, 41, 32), -1px -1px rgb(120, 80, 55);
      .active {
        text-shadow: 1px 1px rgb(59, 41, 32), -1px -1px rgb(120, 80, 55),
          0px 0px 10px rgb(255, 255, 255);
      }
      .link {
        cursor: pointer;
        transition: 0.25s;
      }
      .link:hover {
        text-shadow: 0px 0px 2px var(--orange), -5px -5px 1px rgb(71, 48, 33),
          -5px -5px 2px var(--orange), -10px -10px 1px rgb(36, 25, 19),
          -10px -10px 2px var(--orange);
        color: black;
        transition: 0.25s;
      }
      .active:hover {
        text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 2px var(--orange),
          -5px -5px 1px rgb(71, 48, 33), -5px -5px 2px var(--orange),
          -10px -10px 1px rgb(36, 25, 19), -10px -10px 2px var(--orange);
        color: black;
        transition: 0.25s;
      }
      .divide {
        width: 300px;
      }
      .side {
        width: calc(50% - 300px / 2);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    mask-image: linear-gradient(
      to bottom,
      white,
      rgba(255, 255, 255, 0.582),
      transparent
    );
  }
  .hero {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url("imgs/hero.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    mask-image: linear-gradient(
      to bottom,
      transparent 50px,
      white,
      white,
      white
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }
  main {
    #quote {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 80px;
      padding: 0 20px;
      color: black;
      font-size: 30px;
      font-family: "Tinos", serif;
      font-weight: 900;
      background-color: rgba(255, 115, 0, 0.342);
      border-top: 3px solid rgba(255, 184, 127, 0.452);
      border-bottom: 3px solid rgba(255, 184, 127, 0.452);
      box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.322), 0px 10px 20px black;
    }
    #quote .quoteText {
      display: block;
      width: 100%;
      font-style: italic;
      font-weight: 300;
      font-size: 24px;
    }
    #quote .name {
      font-weight: 900;
      text-align: right;
    }
    .parallax {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 400px;
    }
    .p1 {
      background-attachment: fixed;
      background-size: cover;
      background-image: linear-gradient(to bottom, gray, transparent, gray),
        url(imgs/img1.jpg);
    }
    .p2 {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(to bottom, gray, transparent, gray),
        url(imgs/img2.jpg);
    }
    .p3 {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(to bottom, gray, transparent, gray),
        url(imgs/img5.webp);
    }
    .p4 {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(to bottom, gray, transparent, gray),
        url(imgs/img3.webp);
    }
    .p5 {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(to bottom, gray, transparent, gray),
        url(imgs/img4.jpg);
    }
    .heading {
      position: relative;
      z-index: 3;
      width: 100%;
      border-top: 3px solid rgba(255, 184, 127, 0.452);
      border-bottom: 3px solid rgba(255, 184, 127, 0.452);
      background-color: rgba(255, 115, 0, 0.342);
      box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 1);
      padding: 10px 100px;
      font-style: normal;
      color: black;
    }
    .text {
      font-family: "Tinos", serif;
      font-size: 40px;
      font-weight: 700;
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding: 0px 10px;
    }
    .text.linkTo::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      width: 50px;
      transform: translateY(-50%);
      height: 3px;
      background-color: black;
      mask-image: linear-gradient(
        45deg,
        transparent 30%,
        white 30% 70%,
        transparent 30%
      );
    }
    .text::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100vw - 200px);
      left: 0;
      background: black;
      height: 1px;
    }
    .row {
      text-align: justify !important;
      padding: 0 !important;
      margin: 0 !important;
      .col-md-7 {
        text-align: justify;
        font-family: "Times New Roman", serif;
        font-size: 20px;
      }
      img {
        border-radius: 10px;
        box-shadow: 0px 0px 5px black;
        border: 3px solid var(--orange);
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #majorsCollapse {
        ul {
          list-style-type: none;
          font-family: "Yrsa", serif;
          font-size: 26px;
          li {
            font-weight: 800;
            ul {
              list-style-type: "—  ";
              li {
                font-size: 20px;
                font-style: italic;
                font-weight: 500;
              }
            }
          }
        }
      }
      #statisticsCollapse {
        ul {
          list-style-type: none;
          li {
            font-size: 20px;
            font-style: italic;
            font-weight: 500;
          }
        }
      }
      div[data-bs-toggle="collapse"] {
        cursor: pointer;
      }
      iframe {
        border-radius: 10px;
        box-shadow: 0px 0px 0px 5px var(--orange), 0px 0px 10px black;
      }
    }
    .h-1 {
      text-align: left;
      .text.linkTo::before {
        right: 0;
        transform: translate(100%, -50%);
      }
    }
    .h-2 {
      text-align: right;
      .text.linkTo::before {
        left: 0;
        transform: translate(-100%, -50%);
        mask-image: linear-gradient(
          -45deg,
          transparent 30%,
          white 30% 70%,
          transparent 30%
        );
      }
      .text::after {
        right: 0 !important;
        left: auto !important;
      }
    }
    .h-3 {
      text-align: left;
      .text.linkTo::before {
        right: 0;
        transform: translate(100%, -50%);
      }
    }
    .h-4 {
      text-align: right;
      .text.linkTo::before {
        left: 0;
        transform: translate(-100%, -50%);
        mask-image: linear-gradient(
          -45deg,
          transparent 30%,
          white 30% 70%,
          transparent 30%
        );
      }
      .text::after {
        right: 0 !important;
        left: auto !important;
      }
    }
    .h-5 {
      text-align: left;
      .text::before {
        right: 0;
        transform: translate(100%, -50%);
      }
    }
  }
  footer {
    overflow-x: clip;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    border-top: 5px outset rgb(197, 197, 197);
    box-shadow: 0px 0px 20px var(--orange);
    z-index: 5;
    .section {
      padding: 5px;
      filter: drop-shadow(0px 0px 3px white);
      .links {
        padding: 10px !important;
        position: relative;
        left: 25px;
        background: var(--transOrange);
        height: 100%;
        width: calc(100% - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Yrsa", serif;
        font-style: italic;
        font-size: 20px;
        overflow-wrap: normal;
        a {
          color: black;
          position: relative;
          left: -15px;
          text-decoration: underline;
        }
        .stagger {
          margin: 0 !important;
          padding: 0 0 0 25px;
        }
        .stagger::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          background: black;
          height: 10px;
          width: 20%;
          transform: translate(-1px, -50%);
          clip-path: polygon(
            0px 7px,
            2px 50%,
            0px 3px,
            calc(100% - 10px) 3px,
            calc(100% - 12px) 0px,
            100% 50%,
            calc(100% - 12px) 100%,
            calc(100% - 10px) 7px,
            0px 7px
          );
        }
        .stagger::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -50px;
          background: black;
          height: 10px;
          width: 30%;
          transform: translateY(-50%);
          clip-path: polygon(
            5px 50%,
            0px 0px,
            12px 3px,
            calc(100% - 2px) 3px,
            100% 50%,
            calc(100% - 2px) 7px,
            12px 7px,
            0px 100%
          );
        }
      }
      .noLine {
        text-decoration: none !important;
      }
      .links::before {
        position: absolute;
        right: 0;
        content: "";
        height: 100%;
        width: 50px;
        background: var(--transOrange);
        transform: translateX(99.5%);
        clip-path: polygon(0px 0px, 100% 50%, 0px 100%);
        z-index: -1;
      }
      .links::after {
        position: absolute;
        left: 0;
        content: "";
        height: 100%;
        width: 50px;
        background: var(--transOrange);
        transform: translateX(-99.5%);
        z-index: -1;
        clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%, 100% 50%);
      }
    }
    .section:nth-child(1) {
      .links .stagger::before {
        display: none;
      }
      .links::after {
        clip-path: none;
      }
    }
    .section:nth-child(6) {
      .links .stagger::after {
        display: none;
      }
      .links::before {
        clip-path: none;
      }
    }
  }
  .offcanvas {
    background: linear-gradient(
        35deg,
        var(--transOrange),
        rgba(230, 230, 230, 0.65)
      ),
      url("imgs/NAVRIT.jpg");
    background-size: cover;
    .offcanvas-title {
      text-align: center;
      width: 100%;
      font-weight: 900;
      font-size: 40px;
      font-family: "Yrsa", serif;
      padding: 0 !important;
      margin: 0 !important;
    }
    .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .links {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.725);
      text-shadow: 1px 1px rgb(59, 41, 32), -1px -1px rgb(120, 80, 55);
      text-align: center;
      font-family: "Chango", sans-serif;
      .active {
        text-shadow: 1px 1px rgb(59, 41, 32), -1px -1px rgb(120, 80, 55),
          0px 0px 10px rgb(255, 255, 255);
      }
      .link,
      .toTop {
        cursor: pointer;
        transition: 0.25s;
      }
      .link:hover,
      .toTop:hover {
        text-shadow: 0px 0px 2px var(--orange), -5px -5px 1px rgb(71, 48, 33),
          -5px -5px 2px var(--orange), -10px -10px 1px rgb(36, 25, 19),
          -10px -10px 2px var(--orange);
        color: black;
        transition: 0.25s;
      }
      .active:hover {
        text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 2px var(--orange),
          -5px -5px 1px rgb(71, 48, 33), -5px -5px 2px var(--orange),
          -10px -10px 1px rgb(36, 25, 19), -10px -10px 2px var(--orange);
        color: black;
        transition: 0.25s;
      }
    }
  }
}
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.carousel-item {
  width: 100%;
  aspect-ratio: 3/1.6;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@keyframes moveBG {
  from {
    background-position: 0;
  }
  to {
    background-position: 80px;
  }
}
@keyframes logo {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media (max-width: 991px) and (min-width: 769px) {
  footer .section:nth-child(3n) .links::before {
    clip-path: none !important;
  }
  footer .section:nth-child(3n - 2) .links::after {
    clip-path: none !important;
  }
  footer .section:nth-child(3n) .links .stagger::after {
    display: none;
  }
  footer .section:nth-child(3n - 2) .links .stagger::before {
    display: none;
  }
  footer a {
    left: 0 !important;
    right: 0 !important;
  }
  footer a:nth-child(2n) {
    left: 15px !important;
  }
}
@media (max-width: 768px) {
  .side {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  .LOGO {
    width: 200px !important;
  }
  .rondel {
    width: 220px !important;
  }
  .divide {
    width: 240px !important;
  }
  header .links {
    position: absolute;
  }
  footer .section:nth-child(even) .links::before {
    clip-path: none !important;
  }
  footer .section:nth-child(odd) .links::after {
    clip-path: none !important;
  }
  footer .section:nth-child(even) .links .stagger::after {
    display: none;
  }
  footer .section:nth-child(odd) .links .stagger::before {
    display: none;
  }
  .stagger {
    padding: 0 !important;
  }
  .heading {
    padding-right: 50px !important;
    padding-left: 50px !important;
    .text::after {
      width: calc(100vw - 100px) !important;
    }
  }
}
@media (max-width: 575px) {
  footer .section .links::before {
    clip-path: none !important;
    width: 60px !important;
  }
  footer .section .links::after {
    clip-path: none !important;
  }
  footer .section .links {
    left: 0 !important;
    .stagger {
      padding: 0 !important;
    }
    .stagger::before,
    .stagger::after {
      display: none;
    }
  }
  .heading {
    padding-right: 0 !important;
    padding-left: 0 !important;
    .text::after {
      width: 100vw !important;
    }
  }
}
